@import 'variables';
@import 'components/all';
@import 'fonts';

body {
  background-color: $background;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto;

}

.content {
  &__jogs-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
&__pagination{
  margin-top: 5px;
  margin-bottom: 5px;
}
  &__first-page-wrapper {
    min-height: calc(100vh - 200px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__first-page {
    background: $purple;
    width: 453px;
    height: 329px;
    border-radius: 44px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 768px) {
      & {
        background: white;
      }
    }


  }

  &__bearIMG {
    background: url('../assets/images/bear-face.svg') no-repeat center;
    padding-top: 65px;
    width: 210px;
    height: 200px;
    @media (max-width: 768px) {
      & {
        background: white url('../assets/images/bearFace.png') no-repeat center;
      }
    }
  }

  &__in-btn {
    padding-bottom: 25px;

    button {
      background-color: transparent;
      width: 131px;
      height: 50px;
      border-radius: 36px;
      border: solid 2px #ffffff;
      font-size: 18px;
      font-weight: bold;
      color: white;
      cursor: pointer;

      &:hover {
        background-color: #f8f8f8;
        color: #222;
      }

      &:focus {
        outline: none;
      }
    }

    @media (max-width: 768px) {
      button {
        border-color: $purple;
        color: $purple;
        &:hover {
          background-color: #f8f8f8;
        }
      }
    }
  }

  &__jogs {
  }

  &__preloader {
    width: 150px;
    height: 150px;
    margin-top: 50px;
    @media (max-width: 768px) {
      & {
        width: 100px;
        height: 100px;

      }
    }
  }

  &__jogs-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__add-btn {
    position: fixed;
    right: 3%;
    bottom: 6%;
    cursor: pointer;

    &:hover {
      transform: scale(1.2);
    }

    @media (max-width: 768px) {
      img {
        width: 45px;
        height: 45px;

      }
    }
  }

  &__empty {
    min-height: calc(100vh - 200px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__nothing-block {
    margin-bottom: 70px;

    img {
      margin-top: 30px;
      margin-bottom: 60px;
    }

    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 150px;
      img {
        width: 80px;
        height: 80px;
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }

    div {
      font-family: SFUIText, serif;
      font-size: 22px;
      color: $strongGray;
      opacity: 0.7;
    }

  }

  &__create-jog {
    button {
      background: transparent;
      width: 220px;
      height: 45px;
      border-radius: 36px;
      border: solid 3px #e990f9;
      color: $purple;
      font-family: SFUIText, serif;
      font-size: 18px;
      font-weight: bold;
      cursor: pointer;

      &:hover {
        background-color: #f8f8f8;
      }

      &:focus {
        outline: none;
      }
    }
  }
}