.header {
  background-color: #7ed321;
  height: 100px; }
  .header .container {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center; }
  .header__logo {
    padding-left: 37px;
    display: flex; }
  .header__nav-items {
    display: flex;
    align-items: center; }
  .header__nav-item {
    font-family: SFUIText, serif;
    font-size: 14px;
    font-weight: 500;
    margin-left: 35px;
    cursor: pointer;
    text-decoration: none; }
    .header__nav-item a {
      text-decoration: none;
      color: White; }
    .header__nav-item:hover {
      border-bottom: solid 1.5px #ffffff; }

.item_f {
  height: 39px;
  width: 39px;
  margin-left: 45px;
  margin-right: 25px;
  display: flex;
  justify-content: center; }
  .item_f:hover {
    border: none;
    transform: scale(1.2); }
    .item_f:hover .active {
      border-radius: 8px; }

.filter {
  height: 55px;
  width: 100%;
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center; }
  .filter__item {
    margin-left: 40px;
    display: flex;
    align-items: center;
    font-family: SFUIText, serif;
    font-size: 13px;
    color: #747474; }
  .filter__container {
    margin-left: 10px; }
  .filter__datepicker {
    cursor: pointer;
    text-align: center;
    width: 80px;
    height: 21px;
    border-radius: 11px;
    border: solid 1px #979797; }
    .filter__datepicker:focus {
      outline: none; }

.jog {
  display: flex;
  justify-content: center; }
  .jog__items {
    display: flex;
    flex-direction: column;
    padding-left: 35px;
    margin-top: 40px;
    margin-bottom: 45px; }
  .jog__item {
    margin-top: 8px;
    font-family: SFUIText, serif;
    font-size: 14px;
    font-weight: bold;
    color: black; }
    .jog__item span {
      color: #747474; }

.item_date {
  font-weight: 500; }

.form {
  min-height: calc(100vh - 200px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .form__window {
    background-color: #7ed321;
    width: 453px;
    height: 329px;
    border-radius: 44px;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .form__cancel-btn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 15px 50px 35px 0; }
    .form__cancel-btn img {
      cursor: pointer; }
  .form__item {
    display: flex;
    margin-bottom: 25px; }
  .form__text {
    width: 90px;
    font-family: SFUIText, serif;
    font-size: 16px; }
  .form__field {
    width: 180px;
    height: 18px;
    border-radius: 7px;
    border: solid 1px #979797;
    background-color: #ffffff; }
    .form__field:focus {
      outline: none; }
  .form__save-btn {
    cursor: pointer;
    margin-top: 20px;
    background-color: #7ed321;
    width: 320px;
    height: 42px;
    border-radius: 25.2px;
    border: solid 2px #ffffff;
    color: white;
    font-family: SFUIText, serif;
    font-size: 12.6px;
    font-weight: bold;
    outline: none; }
    .form__save-btn:hover {
      opacity: 0.8; }

@font-face {
  font-family: SFUIText;
  src: url("./fonts/SF-UI-Text-Regular.ttf") format("truetype");
  font-style: normal; }
body {
  background-color: White;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.wrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto; }

.content__first-page-wrapper {
  min-height: calc(100vh - 200px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
.content__first-page {
  background-color: #e990f9;
  width: 453px;
  height: 329px;
  border-radius: 44px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
.content__bearIMG {
  padding-top: 65px; }
.content__in-btn {
  padding-bottom: 25px; }
  .content__in-btn button {
    background-color: #e990f9;
    width: 131px;
    height: 50px;
    border-radius: 36px;
    border: solid 2px #ffffff;
    font-size: 18px;
    font-weight: bold;
    color: white;
    cursor: pointer; }
    .content__in-btn button:hover {
      background-color: #f8f8f8;
      color: #222; }
    .content__in-btn button:focus {
      outline: none; }
.content__jogs-list {
  display: flex;
  flex-direction: column;
  align-items: center; }
.content__add-btn {
  position: fixed;
  right: 3%;
  bottom: 3%;
  cursor: pointer; }
  .content__add-btn:hover {
    transform: scale(1.2); }

/*# sourceMappingURL=app.css.map */
